
{# TODO: dummy template, just or demonstration #}

    // Events
    event DummyEvent(address indexed user);

        function dummy_fn(address _user) pure {{"{"}}
            emit DummyEvent(_user);
        {{"}"}}
