// We import Chai to use its asserting functions here.
//parameters: DAO_name, addresses_list, addresses, owner_role_value, role_value, role_address, role_name
const {{ "{" }} expect {{ "}" }} = require("chai");

const {{ "{" }}
  loadFixture,
{{ "}" }}= require("@nomicfoundation/hardhat-toolbox/network-helpers");

describe("{{DAO_name}} Permission Manager contract", function () {{ "{" }}
  let addresses = null;
  let addressesByEntityValue = null;

  async function deployTokenFixture(){{ "{" }}
    const [owner{% for role_address in addresses_list %}, {{role_address}}{% endfor %}] = await ethers.getSigners();
    const {{DAO_name}} = await ethers.deployContract("{{DAO_name}}");
    await {{DAO_name}}.waitForDeployment();

    return{{ "{" }}{{DAO_name}}, owner{% for role_address in addresses_list %}, {{role_address}}{% endfor %}{{ "}"}};
 {{ "}"}}

  describe("Deployment", function (){{ "{" }}
    it("Should set the right owner", async function (){{ "{" }}
      const{{ "{" }}{{DAO_name}}, owner{{ "}"}} = await loadFixture(deployTokenFixture);
      expect(await {{DAO_name}}.hasRole(owner.address)).to.equal({{owner_role_value}});
   {{ "}"}});
 {{ "}"}});

  describe("Control relations", function (){{ "{" }}
    before(async function () {});

    it("Control relations should reflect the organizational structure of the DAO.", async function (){{ "{" }}
      let{{ "{" }}{{DAO_name}}, owner{% for role_address in addresses_list %}, {{role_address}}{% endfor %}{{ "}"}} = await loadFixture(deployTokenFixture);

      // Map to link roles with addresses
      addressesByEntityValue = new Map();
      {% for entity_value, address in addressesByEntityValue.items() %}
      addressesByEntityValue.set({{entity_value}}, {{address}});
      {% endfor %}

      // Connect to contract with the owner's wallet
      const ownerAddr = {{DAO_name}}.connect(owner);

      // Iterate over the mapping and assign roles
      for (const [roleValue, addr] of addressesByEntityValue.entries()){{ "{" }}
        try{{ "{" }}
          console.log(`Assigning role ${roleValue} to address ${addr.address}`);
          const tx = await ownerAddr.assignRole(addr.address, roleValue);
          await tx.wait();
          console.log(`Role ${roleValue} successfully assigned to address ${addr.address}`);
       {{ "}"}} catch (error){{ "{" }}
          console.error(`Failed to assign role ${roleValue} to address ${addr.address}:`, error);
          throw error; // Stop execution if there's an error
       {{ "}"}}
     {{ "}"}}

      // Validate control relations
      let result = null;
      {% for control_relation in control_relation_results %}
      result = await {{DAO_name}}.canControl({{control_relation[0]}}, {{control_relation[1]}});
      console.log(`Result of canControl({{control_relation[0]}}, {{control_relation[1]}}):`, result);
      expect(result).to.equal({% if control_relation[2] %} true {% else %} false {% endif %});
      {% endfor %}
   {{ "}"}});
 {{ "}"}});
{{ "}"}});
