hello
thish is a test, testing all possible things
that could happen in a JINJA file

{{name}}

{{lenlen(name)}}

FLAG: {% if flag %} on {%else%} off {% endif %}

array:
{% for x in a_list %}
item: {{x}}
{% endfor %}

dictionary shown with its keys
{{"{"}}

{% for a in pets %}
-{{")"}} name: {{ a[0] }} - species: {{a[1]}}
{% endfor %}

{{"}"}}